{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block title %}
	<title>All Presentations</title>
{% endblock %}


{% block home-marquee %}
<div class="col-md-12" id="presentation-div">
	<div class="row">
	{% for data in entries %}
		<a href="javascript:void(0);" onclick="open_summary('{{data.id}}');">
		<div class="panel panel-danger col-md-3 col-sm-12 ppt-panel">
		      <div class="panel-heading teal">
		          <h3 class="panel-title">{{data.title}}</h3>
		      </div>
		      <div class="panel-body">
		          <img class="img-responsive" src="{{data.thumbnail}}">
		      </div>
		      <span style="padding:10px;">Created by <a href="{{data.creator.profile_url}}">@{{data.creator.username}}</a></span>
		</div>
		</a>

		{% if forloop.counter|divisibleby:3 %}
		</div>
		<div class="row">
		{% endif %}
	{% endfor %}
	</div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"></div>
{% endblock %}

{% block css-required %}
<style type="text/css">
	.ppt-panel {display: inline-block;margin: 15px 35px;}
	.ppt-panel{padding-left: 0px;padding-right: 0px;}
</style>
{% endblock %}

{% block js-required %}
<script type="text/javascript">
	function open_summary(pk) {
        var url = "";
        $.get(url, {'pk': pk}, function(res){
            if ( res ) {
                $('.modal').html(res).modal('show');
             
            } else {
                alert("No details found...");
            }
        });        
    }
</script>
{% endblock %}