<style type="text/css">
	.footer{text-transform: uppercase;}
	.uppercase .col-md-2{width: 13.67%;color:#fff;font-weight: bold;}
	.languages .col-md-2{width: 10.67%;color:#fff;font-weight: normal;font-size: 0.8em;}
	.languages {margin-top: 10px;margin-bottom: 20px;}
	.copyright{color: #fff}
	.copyright a{color: #fff}
</style>

<div id="body-footer row">
	<div id="footer-raleway" class="footer hidden-xs hidden-phone col-md-12" style="background-color:#152235; padding:30px;">
		<div class="uppercase links footer-row col-md-8 col-md-offset-2">
			<a class="col-md-2 product-page" href="https://prezi.com/desktop/?click_source=hamburger_menu|product|||">Product</a>
			<a class="col-md-2 about-page" href="https://prezi.com/about/?click_source=hamburger_menu|company|||">Company</a>
			<a class="col-md-2 jobs-page" href="https://prezi.com/redirect/?click_source=hamburger_menu|careers|||&url=/jobs/" target="_blank">Careers</a>
			<a class="col-md-2 support-page" href="https://prezi.com/support/?click_source=hamburger_menu|support|||">Support</a>
			<a class="col-md-2 community-page" href="https://prezi.com/community/?click_source=hamburger_menu|community|||">Community</a>
			<a class="col-md-2 contact-page" href="https://prezi.com/contact/?click_source=hamburger_menu|contact|||">Contact</a>
			<a class="col-md-2 apps-page" href="https://prezi.com/mobility/?click_source=hamburger_menu|apps|||">Apps</a>
		</div>
		<div class="uppercase languages footer-row  col-md-12">
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|en|||" data-langcode="en">English</a>
			<div class="divider"></div>
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|es|||" data-langcode="es">español</a>
			<div class="divider"></div>
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|ko|||" data-langcode="ko">한국어</a>
			<div class="divider"></div>
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|ja|||" data-langcode="ja">日本語</a>
			<div class="divider"></div>
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|de|||" data-langcode="de">Deutsch</a>
			<div class="divider"></div>
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|pt|||" data-langcode="pt">Português</a>
			<div class="divider"></div>
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|fr|||" data-langcode="fr">français</a>
			<div class="divider"></div>
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|hu|||" data-langcode="hu">Magyar</a>
			<div class="divider"></div>
			<a href="#" class="changelang_loggedin col-md-2" data-action="click" data-object="footer|it|||" data-langcode="it">italiano</a>
			<div class="divider"></div>
		</div>
		<div class="copyright col-md-3 col-md-offset-4">
	        © 2016 Prezi Inc.&nbsp;
	        <a href="https://prezi.com/terms-of-use/" data-action="click" data-object="footer|terms|||" data-target-url="/terms-of-use/">Terms</a>
	    </div>
	</div>
</div>